{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="row mt-5">
		<div class="row">
			<h1>Liste des dépenses 
				<a href="{% url 'depense-create-view' %}" class="btn btn-success" role="button"> Ajouter + </a>
			</h1>
		</div>
		<div class="row mt-5 px-4">
			<table class="table table-striped">
				<tr>
					<th>Date</th>
					<th>Cat.</th>
					<th>Desc.</th>
					<th>Montant</th>
					<th>Status</th>
					<th>View</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			{% for depense in depense_list %}
			<tr>
				<td>{{depense.date}}</td>
				<td>{{depense.categorie}}</td>
				<td>{{depense.description}}</td>
				<td>{{depense.amount}}</td>
				<td>{{depense.status}}</td>
				<td><a href="">view</a></td>
				<td><a href="">update</a></td>
				<td><a href="">delete</a></td>
			</tr>
			{% endfor %}
			</table>
		</div>

		<div class="row mt-5 border rounded">
			<div class="col">
				Total:
			</div>

			<div class="col">
				{{total_unpaid.total_unpaid}}
			</div>

		</div>
	</div>
		
	
{% endblock %}