{% extends 'base.html' %}
{% load static %}


{% block extrahead %}

<link rel="stylesheet" href="{% static 'grocerylist/css/css.css' %}">

{% endblock %}


{% block content %}

	<h1>Add Grocery Store</h1>
	
	<form action="{%url 'grocery-store-create' %}" method="post">
	{% csrf_token %}
		{{ grocery_store_form }}
		<input type="submit" value="Submit">
	</form>
	
	<h4>Store already created</h4>
	
	<div class="container-fluid">
	{% for store in stores %}
		<div class="row">
			<div class=col>
				{{store.name|title}}
			</div>
			
			<div class="col">
				<a href="#">
					<i class="fa fa-thin fa-minus-circle" type="button" id="{{ store.id }}" name="delete_grocery_item"></i>
				</a>
			</div>
			
		</div>
	{% endfor %}
	</div>
		 
{% endblock %}